@import "typography.scss";
@import "color.scss";
@import "layout.scss";

.container {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: auto 1320px auto; 
  grid-template-rows: 224px 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". Maincontent ."
    ". Maincontent ."; 
  justify-content: center;
  background: linear-gradient(#333333, #080808);
  overflow: auto;
  // min-height: 1080px; 
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.Maincontent {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 224px 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Navbar"
    "FilmLog"; 
  grid-area: Maincontent; 
  background: #1A1A1A;
  box-shadow: 0px 5px 5px #141414;
}
.Navbar { 
  display: grid; 
  grid-template-columns: 0px 0px 0px;
  grid-template-rows: 150px 1fr; 
  grid-template-areas: 
 "..."
  ". addFilmButton .";  
  grid-area: Navbar;
  background: url("../../images/Mainlogo.png"), linear-gradient(#4D4d4d, #1A1A1A), center no-repeat;
  box-shadow: 0px 5px 10px #141414;
  background-position: 50% 25%;
  background-repeat: no-repeat;
  z-index: 1;
 }

.FilmLog { 
  grid-area: FilmLog;
  background: #1A1A1A;
  box-shadow: 0px 5px 10px #141414;
}

html {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
       }

      //  .tasklist {
      //   padding: 0px 0px 0px 0px;
      //   margin:  0px 0px 0px 0px;
      //   display: grid;
      //   grid-template-columns: auto auto auto auto auto;
      //   justify-content: center;
      //  }

       .film {
        width: 210px;
        height: 312px;
        // border: 1px solid white;
        background: url("../../images/iconaction.png") center no-repeat, #4D4D4D;
        box-shadow: 0px 5px 10px #0a0a0a;
        // margin: 40px 18px 12px 18px;
        margin: 40px 0px 12px 0px;

        text-align: center;
        list-style-type: none; 
        padding: 0;
        list-style-position: outside;
        transition: 0.6s;
       }
          .film:hover { //simple animations for hovering over a db entry to show interactivity - changing the colour and expanding the drop shadow as if you are taking the film off the 'shelf'
            background: #696969;
            transition: 0.8s;
            translate: 0px -3px;
            box-shadow: 0px 8px 10px #0c0c0c;
          }

       ul {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        justify-content: left;
        padding: 0px 64px 0px 64px;
        gap: 24px 36px;
        margin: 0px 0px 0px 0px;
       }
       
       header > h1 {
     text-align: center;
       }

       .addFilmButton {
        cursor: pointer;
        grid-area: addFilmButton;
        align-self: center;
        }
       
    //    form {
    // max-width: 500px;
    // margin: 0 auto;
    // border: 2px solid grey;
    // padding: 2em 1em;
    // // display: none;
    //    }
       
       .form-row {
     display: flex;
     justify-content: flex-end;
     padding: .5em;
       }
       
       .form-row > label {
     width: 100px;
       }
       
       .form-row > input {
     padding: .5em;
     flex-grow: 1;
       }