#taskform label {
    font-family: "owners", sans-serif;
font-weight: 200;
font-style: normal;
   }

   #taskform {
    color: white;
   }

   #taskform em {

    font-family: "owners", sans-serif;
    font-weight: 550;
    font-style: italic;
    color:#ffff00;
   }

        #taskform select{
            font-family: "owners", sans-serif;
            font-weight: 200;
            font-style: normal;
            font-size: 16pt;
     }

    #submitButton{
    font-family: "owners", sans-serif;
    font-weight: 550;
    font-style: italic;
    }

   #required{
    font-size:20px;
   }

#filmModal {
    font-family: "owners", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
}
    #filmModal em {

        font-family: "owners", sans-serif;
        font-weight: 550;
        font-style: italic;
       }
    
       #text strong{
        font-family: "owners", sans-serif;
        font-weight: 550;
        font-style: normal;
       }
       #text em {
        font-family: "owners", sans-serif;
        font-weight: 300;
        font-style: normal;
       }

       @font-face {
        font-family: 'icomoon';
        src:  url('../fonts/icomoon.eot?7br1pa');
        src:  url('../fonts/icomoon.eot?7br1pa#iefix') format('embedded-opentype'),
          url('../fonts/icomoon.ttf?7br1pa') format('truetype'),
          url('../fonts/icomoon.woff?7br1pa') format('woff'),
          url('../fonts/icomoon.svg?7br1pa#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: block;
      }
      
      [class^="icon-"], [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icomoon' !important;
        // speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
      
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      
      .icon-blankstar:before {
        content: "\e900";
      }
      .icon-fullstar:before {
        content: "\e901";
      }
      .icon-halfblankstar:before {
        content: "\e902";
      }
      