#taskform label{
    font-family: "owners", sans-serif;
font-weight: 400;
font-style: normal;
   }

   #taskform label > em {

    font-family: "owners", sans-serif;
    font-weight: 700;
    font-style: italic;
   }

   #taskform #formrow > p {

    font-family: "owners", sans-serif;
    font-weight: 700;
    font-style: italic;
   }