#taskform label {
    font-family: "owners", sans-serif;
font-weight: 200;
font-style: normal;
   }

   #taskform {
    color: white;
   }

   #taskform em {

    font-family: "owners", sans-serif;
    font-weight: 550;
    font-style: italic;
    color:#ffff00;
   }

   #required{
    font-size:20px;
   }

#filmModal {
    font-family: "owners", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
}
    #filmModal em {

        font-family: "owners", sans-serif;
        font-weight: 550;
        font-style: italic;
       }
    
       #text strong{
        font-family: "owners", sans-serif;
        font-weight: 550;
        font-style: normal;
       }
       #text em {
        font-family: "owners", sans-serif;
        font-weight: 300;
        font-style: normal;
       }